.top_nav {
	// position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 100;

	@include mq_dl() {
		.options {
			position: relative;
			width: 95%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-family: $text-font;

			.logo {
				position: absolute;
				padding: 0;
				z-index: 10;

				img {
					width: 80px;
				}
			}

			.page_links {
				position: relative;
				height: 100%;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 80px;
				width: 100%;

				&__item {
					position: relative;

					color: $grey-800;
					@include res-font-size(14, 24);
					text-transform: capitalize;
					padding: 0.5rem;
					margin: 0 1rem;
					display: flex;
					align-items: center;

					cursor: pointer;

					&:hover,
					&:focus {
						&::before {
							width: 100%;
						}
					}
				}

				.dropdown {
					position: relative;
					&:hover > .dropdown__menu,
					&:hover::before {
						opacity: 1;
						visibility: visible;
					}
					&__menu {
						background: white;
						border-radius: 8px;
						box-shadow: 0 36px 14px 0 rgba(20, 37, 75, 0.07),
							0 -4px 14px 0 rgba(0, 0, 0, 0.08);
						color: $grey-800;
						position: absolute;
						padding: 1rem 2rem;
						opacity: 0;
						width: 600px;
						transition: visibility 300ms ease, opacity 300ms ease;
						visibility: hidden;
						z-index: 10;
					}
					ul {
						list-style: none;
						padding: 0;
						column-count: 2;
					}
					li {
						margin-bottom: 1rem;
					}
					&::before {
						position: absolute;
						bottom: 0;
						left: 2.5rem;
						display: inline-block;
						border-right: 7px solid transparent;
						border-bottom: 7px solid white;
						border-left: 7px solid transparent;
						border-bottom-color: white;
						opacity: 0;
						visibility: hidden;
						transition: visibility 300ms ease, opacity 300ms ease;
						content: '';
					}
				}
			}

			.page_links__cta {
				display: flex;
				button {
					height: 50px;
					width: 120px;
					font-size: 16px;
					padding: 0;
				}
				.login {
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						margin-right: 0.25rem;
						width: 22px;
					}
				}
			}

			.burger {
				display: none;
			}
		}
	}

	@include mq_custom(300px, 1224px) {
		.options {
			position: relative;
			width: 95%;
			height: 60px;
			margin: auto;

			display: grid;
			grid-template-columns: max-content 1fr repeat(2, max-content);
			place-items: center;

			font-family: $text-font;

			.logo {
				position: relative;

				grid-column: 1;

				img {
					width: 40px;
				}
			}

			.burger {
				grid-column: -1;
				width: 25px;
				position: relative;
				z-index: 11;
				transform: rotate(0deg);
				transition: 0.5s ease-in-out;
				cursor: pointer;

				span {
					display: block;
					position: relative;
					height: 3px;
					width: 100%;
					background: $primary-blue;
					border-radius: 9px;
					opacity: 1;
					left: 0;
					transform: rotate(0deg);
					transition: 0.25s ease-in-out;

					&:nth-child(1) {
						margin-top: 0px;
					}

					&:nth-child(2) {
						margin-top: 5px;
					}
					&:nth-child(3) {
						margin-top: -3px;
					}
					&:nth-child(4) {
						margin-top: 5px;
					}
				}
			}

			.page_links,
			.login {
				display: none;
			}

			.page_links__cta {
				display: none;
			}
		}
	}
}

@include mq_custom(300px, 1224px) {
	.top_nav {
		background: white;
	}
}

.ss-slide_bar {
	position: fixed;
	top: 60px;
	right: 0;
	width: 100%;
	height: calc(100vh - 60px);
	z-index: 100;

	width: calc(400px + (400 - 300) * ((100vw - 300px) / (1224 - 300)));

	background: white;

	transform: translateX(100%);
	transition: 0.5s ease-in-out;

	@include mq_dl() {
		display: none;
	}

	@include mq_custom(300px, 600px) {
		width: 100%;
	}

	.page_links {
		position: relative;
		height: 100%;
		padding: 5rem 0;

		display: grid;
		grid-template-rows: repeat(6, 1fr);
		place-items: center;
		font-family: $text-font;

		&__item {
			position: relative;
			cursor: pointer;

			width: 150px;
			margin: 5px 0;
			height: calc(100% - 10px);

			display: grid;
			place-items: center;

			text-align: center;

			&:hover {
				&::before {
					transform: scale(1, 1);
				}

				&::after {
					transform: scale(1, 1);
				}
			}

			&::before {
				content: '';
				display: block;
				background-color: rgba($color: #000, $alpha: 0);
				position: absolute;
				bottom: 0px;
				top: 0px;
				left: 0px;
				right: 0px;
				transform: scale(0, 1);
				transition: transform 500ms ease-in-out;
				border-top: 1px solid $primary-blue;
				border-bottom: 1px solid $primary-blue;
			}

			&::after {
				content: '';
				display: block;
				background-color: rgba($color: #000, $alpha: 0);
				position: absolute;
				bottom: 0px;
				top: 0px;
				left: 0px;
				right: 0px;
				transform: scale(1, 0);
				transition: transform 500ms ease-in-out;
				border-left: 1px solid $primary-blue;
				border-right: 1px solid $primary-blue;
			}
		}
	}
}

.burger--open span {
	&:nth-child(1) {
		width: 0% !important;
		left: 50% !important;
	}
	&:nth-child(2) {
		transform: rotate(45deg) !important;
	}
	&:nth-child(3) {
		transform: rotate(-45deg) !important;
	}
	&:nth-child(4) {
		width: 0% !important;
		left: 50% !important;
	}
}

.slide_bar--open {
	transform: translateX(0);
}

.breadcrumbs {
	color: white;
	padding: 1rem;
	a::after {
		content: '/';
		margin: 0 0.5rem;
	}
	span:last-child {
		opacity: 0.95;
	}

	@include mq_dl {
		margin: 1rem auto 0 auto;
		padding: 0;
		width: 95%;
	}
	@include mq_custom(300px, 1224px) {
		background: $primary-blue;
	}
}

.scroll-top__button {
	background: $grey-800;
	border: none;
	border-radius: 8px;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 0.5rem;
	opacity: 0;
	height: 50px;
	width: 50px;
	transition: opacity 300ms ease;
	z-index: 100;
	& > svg {
		fill: $off-white;
	}
	&.active {
		opacity: 1;
	}
	&:hover {
		& > svg {
			fill: white;
		}
	}
}
